@paddingforbar: 22px;
@maincolor: #5A95BA;
@commonheaderheight:5rem;
@diarycontainerheight:calc(~"100vh - "@commonheaderheight);
.commonheader {
  padding-top: @paddingforbar;
  height: @commonheaderheight;
}
.diaryfooter {
  height: 2.8rem;
  width: 100vw;
  background-color: @maincolor;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
}